---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "PT Serif", Arial, sans-serif;
$code-font-family: "Consolas", "Lucida Console", monospace;
$base-font-size:   21px;
$base-font-weight: 400;
$small-font-size:  18px;
$code-block-font-size: 15px;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fefefe;
$brand-color:      #2a7ae2;
$code-background-color: rgb(242, 248, 255); /*#f4f8fb;*/
$code-border-color: rgb(108, 108, 108);

$grey-color:       #323232;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        960px;

// CUSTOM OVERRIDES
pre.highlight code
{
    /*font-family: Consolas,Lucida Console,Menlo,Monaco,monospace;*/
    font-family: $code-font-family;
    background: $code-background-color !important;
}
code.highlighter-rouge
{
    font-size: $small-font-size;
    font-family: $code-font-family;
}
.page-content
{
    padding: 0 !important;
}
.site-footer
{
    padding-top: 0 !important;
    border-top: 0 !important;
}
.site-header
{
    border-bottom: 0 !important;
}
.wrapper
{
    background-color: #fefefe;
    padding-top: 30px;
}
.highlighter-rouge pre.highlight
{
    border: 1px solid $code-border-color;
    background: $code-background-color !important;
}
// CUSTOM OVERRIDES END

// CUSTOM POST PREVIEW BOX
$post-preview-width: 100px;
$post-description-width: $content-width - $post-preview-width - 20px;
$post-box-outline-color: #7080b0;
$post-box-fill-color: #f8f8f8;

.post-box
{
    display: block;
    width: $content-width;
    height: auto;
    border: 1px solid $post-box-outline-color;
    padding: 4px;
    background-color: $post-box-fill-color;
    border-radius: 4px;
    margin-bottom: 20px;
}
.post-box .post-preview
{
    display: inline-block;
    width: $post-preview-width;
    height: auto;
}
.post-box .post-preview img
{
    width: $post-preview-width;
    height: auto;
}
.post-box .post-description
{
    vertical-align: top;
    display: inline-block;
    width: $post-description-width;
}
.post-box .post-description .post-link
{
    font-size: $base-font-size;
    display: block;
}
.post-box .post-description .post-subtitle
{
    color: $grey-color;
    font-size: $small-font-size;
    display: block;
}
// END CUSTOM POST PREVIEW BOX

// CUSTOM TABLE OF CONTENTS
.table-of-contents
{
    background-color: #eee;
    border: 1px solid $grey-color;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px;
    display: inline-block;
}
.table-of-contents.hidden
{
    display: none;
}
.table-of-contents h2
{
    margin: 0;
}
.table-of-contents-rows
{
    padding-left: 15px;
}
// CUSTOM TABLE OF CONTENTS END

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "minima";
