---
layout: page
title: "Статьи по Modern OpenGL"
permalink: /cg/
---

{% assign posts_collection = site.cg %}

<h1 class="post-heading">Погружение в C++17</h1>

{% include post_box.html post_id='/cg/setup_windows_with_qt' %}

<!-- {% include post_box.html post_id='/cg/dive_into_cpp_1' %}
{% include post_box.html post_id='/cg/dive_into_cpp_2' %}
{% include post_box.html post_id='/cg/dive_into_cpp_3' %}
{% include post_box.html post_id='/cg/dive_into_cpp_4' %} -->

<h1 class="post-heading">Modern OpenGL в 2D</h1>


<h1 class="post-heading">Modern OpenGL в 3D</h1>

<h1 class="post-heading">Я освоил OpenGL. Что дальше?</h1>
