---
layout: default
---

<div class="home">
  <h1 class="post-heading">Курсы</h1>
  <ul class="post-list">
    {% include course_item.html permalink='/opengl/' %}
    {% include course_item.html permalink='/compilers/' %}
    {% include course_item.html permalink='/opr_js/' %}
    {% include course_item.html permalink='/opr_cxx/' %}
    {% include course_item.html permalink='/os/' %}
  </ul>
  <h1 class="post-heading">Циклы статей</h1>
  <ul class="post-list">
    {% include course_item.html permalink='/js/' %}
    {% include course_item.html permalink='/cxx/' %}
    {% include course_item.html permalink='/sfml/' %}
  </ul>
</div>
