---
layout: page
title: "Компьютерная графика"
permalink: /opengl/
---

{% assign posts_collection = site.opengl %}

{% include post_box.html post_id='/opengl/useful-links' %}
{% include post_box.html post_id='/opengl/coding_conventions' %}
{% include post_box.html post_id='/opengl/building_examples' %}

<h1 class="post-heading">Часть I: 2D графика на OpenGL 1.x</h1>
<p>
Примеры ко всем статьям ищите в репозитории примеров в каталоге <a href='https://github.com/PS-Group/cg_course_examples/blob/master/chapter_1'>chapter_1</a>
</p>

{% include post_box.html post_id='/opengl/chapter_1_faq' %}
{% include post_box.html post_id='/opengl/lesson_1' %}
{% include post_box.html post_id='/opengl/lesson_2' %}
{% include post_box.html post_id='/opengl/lesson_3' %}
{% include post_box.html post_id='/opengl/lesson_4' %}
{% include post_box.html post_id='/opengl/lesson_5' %}
{% include post_box.html post_id='/opengl/lesson_6' %}

<h1 class="post-heading">Часть II: 3D графика на OpenGL 1.x</h1>
<p>
Примеры ко всем статьям ищите в репозитории примеров в каталоге <a href='https://github.com/PS-Group/cg_course_examples/blob/master/chapter_2'>chapter_2</a>
</p>

{% include post_box.html post_id='/opengl/chapter_2_faq' %}
{% include post_box.html post_id='/opengl/apitrace' %}
{% include post_box.html post_id='/opengl/lesson_7' %}
{% include post_box.html post_id='/opengl/lesson_8' %}
{% include post_box.html post_id='/opengl/lesson_9' %}
{% include post_box.html post_id='/opengl/lesson_10' %}
{% include post_box.html post_id='/opengl/lesson_11' %}
{% include post_box.html post_id='/opengl/lesson_12' %}

<h1 class="post-heading">Часть III: GLSL и графический конвейер</h1>
<p>
Примеры ко всем статьям ищите в репозитории примеров в каталоге <a href='https://github.com/PS-Group/cg_course_examples/blob/master/chapter_3'>chapter_3</a>
</p>

{% include post_box.html post_id='/opengl/chapter_3_faq' %}
{% include post_box.html post_id='/opengl/opengl_3_2' %}
{% include post_box.html post_id='/opengl/lesson_13' %}
{% include post_box.html post_id='/opengl/lesson_14' %}
{% include post_box.html post_id='/opengl/lesson_15' %}
{% include post_box.html post_id='/opengl/lesson_16' %}
{% include post_box.html post_id='/opengl/lesson_17' %}

<h1 class="post-heading">Часть IV: Data-driven Applications</h1>
<p>
Примеры ко всем статьям ищите в репозитории примеров в каталоге <a href='https://github.com/PS-Group/cg_course_examples/blob/master/chapter_4'>chapter_4</a>
</p>

{% include post_box.html post_id='/opengl/glm_cheatsheet' %}
{% include post_box.html post_id='/opengl/component-entity-system-anax' %}
{% include post_box.html post_id='/opengl/assimp' %}
{% include post_box.html post_id='/opengl/lesson_19' %}
{% include post_box.html post_id='/opengl/lesson_20' %}
{% include post_box.html post_id='/opengl/lesson_21' %}
{% include post_box.html post_id='/opengl/lesson_22' %}
