---
layout: page
title: "Основы проектной работы (C++)"
permalink: /opr_cxx/
---

{% assign posts_collection = site.cxx %}

<h1 class="post-heading">Краткий курс C/C++</h1>

{% include post_box.html post_id='/cxx/lesson_setup_win' %}
{% include post_box.html post_id='/cxx/lesson_cpp_1' %}
{% include post_box.html post_id='/cxx/lesson_git' %}
{% include post_box.html post_id='/cxx/cxx_cheatsheet' %}

<h1 class="post-heading">Знакомство с SFML</h1>

{% include post_box.html post_id='/cxx/sfml_vs2015' %}
{% include post_box.html post_id='/cxx/sfml_array' %}
{% include post_box.html post_id='/cxx/sfml_tiled' %}

<h1 class="post-heading">SFML: минимальный клон игры Packman</h1>

Каждый пример сопровождается статьей и имеет свой каталог в репозитории <a href="https://github.com/ps-group/sfml-packman">sfml-packman на github</a>.

{% include post_box.html post_id='/cxx/sfml_packman_1' %}
{% include post_box.html post_id='/cxx/sfml_packman_2' %}
{% include post_box.html post_id='/cxx/sfml_packman_3' %}
{% include post_box.html post_id='/cxx/sfml_packman_4' %}
{% include post_box.html post_id='/cxx/sfml_packman_5' %}
{% include post_box.html post_id='/cxx/sfml_packman_6' %}

<h1 class="post-heading">SFML: полируем детали клона Packman</h1>

{% include post_box.html post_id='/cxx/sfml_packman_7' %}
{% include post_box.html post_id='/cxx/sfml_packman_8' %}

<h1 class="post-heading">Различные примеры и советы на C++</h1>

{% include post_box.html post_id='/cxx/chronometer' %}
{% include post_box.html post_id='/cxx/sfml_vector_math' %}
{% include post_box.html post_id='/cxx/sfml_world_interaction' %}

<!--
- [соглашения о кодировании](/sfml/coding_conventions.html)
- [рабочий процесс в течении проекта](/sfml/workflow-knowledge.html)
- [как правильно применять Интернет в учёбе](/sfml/how-to-use-web.html)
- [рекомендации по работе с Git](/sfml/git-workflow.html)

## Задания

 1. [Рефакторинг C++ кода](/sfml/1.1-refactor.html)
 2. [Аналоговые часы на SFML](/sfml/1.2-clocks.html)
 3. [Анимация на SFML](/sfml/1.3-animation.html)
 4. [Мини-игра на SFML](/sfml/1.4-minigames.html)

## Дополнительные задания

Дополнительные задания выдаются преподавателем отдельно.

- [99 бутылок](/sfml/cpp_99bottles.html)
- [Игра "Змейка"](/sfml/cpp_snake.html)
- [Волновой поиск](/sfml/cpp-wave-search.html)

## Общие статьи

- [Как спроектировать мир и объекты в игре](/sfml/world_interaction.html)
- [Коллекция избранных ответов на stackoverflow](/sfml/stackoverflow-answers.html)
- [Проектирование собственных структур на C++](/sfml/structs-design.html)
- [Что такое программирование по контракту](/sfml/design-by-contract.html)
- [Грамотное применение enum](/sfml/mastering-enums.html)
- [Явное преобразование типов в языке C++](/sfml/explicit-cast.html)
- [F.A.Q. по Visual Studio 2015](/sfml/vs2015-faq.html)
-->