---
layout: page
title: "Основы проектной работы (Web)"
permalink: /opr_js/
---

{% assign posts_collection = site.js %}

<h1 class="post-heading">Технология Canvas</h1>

{% include post_box.html post_id='/js/js_links' %}
{% include post_box.html post_id='/js/html_canvas1' %}
{% include post_box.html post_id='/js/html_canvas2' %}
{% include post_box.html post_id='/js/html_canvas3' %}

<h1 class="post-heading">Примеры 2D игры Packman на Javascript и Canvas</h1>

{% include post_box.html post_id='/js/web-packman1' %}
{% include post_box.html post_id='/js/web-packman2' %}
{% include post_box.html post_id='/js/web-packman3' %}
{% include post_box.html post_id='/js/web-packman4' %}
{% include post_box.html post_id='/js/web-packman5' %}
{% include post_box.html post_id='/js/web-packman6' %}
