---
layout: page
title: "Курс по C++ и SFML"
permalink: /ps1/
---

{% assign posts_collection = site.ps1 %}

<h1 class="post-heading">Сентябрь: привыкаем кодить на C++ и следуем инструкциям</h1>

{% include post_box.html post_id='/ps1/lesson_cpp_1' %}
{% include post_box.html post_id='/ps1/lesson_sfml_1' %}
{% include post_box.html post_id='/ps1/lesson_sfml_2' %}
{% include post_box.html post_id='/ps1/lesson_sfml_3' %}

<h1 class="post-heading">Октябрь: решаем комлексные задачи по этапам</h1>

{% include post_box.html post_id='/ps1/cxx_coding_style' %}
{% include post_box.html post_id='/ps1/sfml_workshop_1' %}
{% include post_box.html post_id='/ps1/sfml_workshop_2' %}
{% include post_box.html post_id='/ps1/sfml_workshop_3' %}

<h1 class="post-heading">Ноябрь: роемся в чужом проекте и пишем свой</h1>

<p>Примеры реализации packman на C++ будут доступны позднее</p>

{% include post_box.html post_id='/ps1/project' %}

<!--
{% assign posts_collection = site.cxx %}

<h3 class="post-heading">Начни думать. На старте проекта</h3>

{% include post_box.html post_id='/cxx/sfml_packman_1' %}
{% include post_box.html post_id='/cxx/sfml_packman_2' %}
{% include post_box.html post_id='/cxx/sfml_packman_3' %}

<h3 class="post-heading">Навались! Реализуем геймплей</h3>

{% include post_box.html post_id='/cxx/sfml_packman_4' %}
{% include post_box.html post_id='/cxx/sfml_packman_5' %}
{% include post_box.html post_id='/cxx/sfml_packman_6' %}

<h3 class="post-heading">Уголок перфекциониста. Полируем детали</h3>

{% include post_box.html post_id='/cxx/sfml_packman_7' %}
{% include post_box.html post_id='/cxx/sfml_packman_8' %}
-->

