---
layout: page
title: "Курс по C++ и SFML"
permalink: /ps1/
---

{% assign posts_collection = site.ps1 %}

<h1 class="post-heading">Сентябрь: привыкаем кодить на C++ и следуем инструкциям</h1>

{% include post_box.html post_id='/ps1/lesson_cpp_1' %}
{% include post_box.html post_id='/ps1/lesson_sfml_1' %}
{% include post_box.html post_id='/ps1/lesson_sfml_2' %}
{% include post_box.html post_id='/ps1/lesson_sfml_3' %}

<h1 class="post-heading">Октябрь: решаем комлексные задачи по этапам</h1>

{% include post_box.html post_id='/ps1/cxx_coding_style' %}
{% include post_box.html post_id='/ps1/sfml_workshop_1' %}
