---
layout: page
title: "Курс по C++ и SFML"
permalink: /ps1/
---

{% assign posts_collection = site.ps1 %}

<h1 class="post-heading">Сентябрь: привыкаем кодить на C++ и следуем инструкциям</h1>

{% include post_box.html post_id='/ps1/lesson_cpp_1' %}
{% include post_box.html post_id='/ps1/lesson_sfml_1' %}
{% include post_box.html post_id='/ps1/lesson_sfml_2' %}
{% include post_box.html post_id='/ps1/lesson_sfml_3' %}

<h1 class="post-heading">Октябрь: решаем комлексные задачи по этапам</h1>

{% include post_box.html post_id='/ps1/cxx_coding_style' %}
{% include post_box.html post_id='/ps1/sfml_workshop_1' %}
{% include post_box.html post_id='/ps1/sfml_workshop_2' %}
{% include post_box.html post_id='/ps1/sfml_workshop_3' %}

<h1 class="post-heading">Ноябрь: роемся в чужом проекте и пишем свой</h1>

<p>Примеры реализации packman на C++ будут доступны позднее</p>

{% include post_box.html post_id='/ps1/project' %}

{% include rich_link.html
    preview_url='/img/google-docs.svg'
    url='https://docs.google.com/document/d/1Ki6DlbhDrZHskC6LED88FHeX8m-Se3-MrTpjwKYlcDk/edit?usp=sharing'
    title='Задание | Спецификация проекта'
    subtitle='Чтобы составить видение проекта-игры, нужно визуализировать. Сделать это поможет MindMap.'
%}

{% include rich_link.html
    preview_url='/img/google-docs.svg'
    url='https://docs.google.com/document/d/1zdW81SLmgVf3ZXyMwXkOXxIwOzBzkTTvi4TTMLdUw_E/edit?usp=sharing'
    title='Задание | Спецификация проекта'
    subtitle='Чтобы справиться с известным проектом в известные сроки, нужно составить план действий. Сделать это поможет RoadMap.'
%}

{% include rich_link.html 
    preview_url='https://github.com/ps-group/sfml-packman/raw/master/img/preview_2.png'
    url='https://github.com/ps-group/sfml-packman'
    title='Пишем клон игры PacMan слой за слоем'
    subtitle='В этой коллекции примеров слой за слоем на C++/SFML воссоздаётся урезанный клон игры PacMan'
%}

{%include rich_link.html
    preview_url='/img/google-table.svg'
    url='https://docs.google.com/spreadsheets/d/1n7OzeQEDujPDboW3dFn4M4iXhcPvlCR7FQbPRSE4jwM/edit?usp=sharing'
    title='Схема оценки проекта-игры'
    subtitle='В таблице записаны критерии оценки и примеры оценивания различных игр'
%}
