---
layout: default
---

<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<div class='subtron text-left'>
  <div class='container-narrow'>
    <h2 class="arcticle-breadcrumbs not-in-toc">
      <a href='{{ site.baseurl }}/opengl/'>OpenGL</a>
      <span class="docs-breadcrumbs-divider">/</span>
      {% if page.breadcrumb %}
      {{ page.breadcrumb }}
      {% else %}
      {{ page.title }}
      {% endif %}
    </h4>
  </div>
</div>

<section class='page-section docs strong-headers'>
  <div class='container-narrow'>
    <script type="text/javascript" src="/js/table-of-contents.js"></script>
    <hr>
    <div class="table-of-contents hidden">
    <h2 class="table-of-contents-title not-in-toc">Содержание</h2>
    <div class="table-of-contents-rows"></div>
    </div>
    {{ content }}
    {% if page.category != 'ignore' %}
    <hr>
    {% endif %}
  </div>
</section>
